body {
    font-family: sans-serif;
    background: url("https://yt3.ggpht.com/BWsc4AGpqXkilqh8lW_539Uc8tWxdA2iwfvgPZJu1gccxNRfRjJ_Hee4mbwKPB8HJm49jTUeZg=s176-c-k-c0x00ffffff-no-rj-mo");
}

p a{
    color: chartreuse;
}

p {
    background-color: chocolate;
}
